
.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 0;
    background: rgba(0, 0, 0, 0.05);
}

.container {
    width: 1200px;
    background: white;
    border-radius: 20px;
    padding: 40px 4% 40px 10%;
    box-shadow: 0 0 40px rgba(0,0,0,0.1);
}

.title {
    text-align: center;
    font-size: 64px;
    font-family: "Geometria", sans-serif;
    font-weight: 800;
    color: #3C4466;
    margin-bottom: 40px;
}

.typeSwitch {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.typeSwitch input[type="radio"] {
    display: none;
}

.switchBtn {
    padding: 14px 40px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

    background: #eef2f7;
    color: #6b7489;
    border: 2px solid #3C4466;

    user-select: none;
    transition: 0.2s;
}

label:first-of-type .switchBtn {
    border-radius: 6px 0 0 6px;
    border-right-width: 0;
}

label:last-of-type .switchBtn {
    border-radius: 0 6px 6px 0;
    border-left-width: 0;
}

.switchBtn.active {
    background: #3C4466;
    color: white;
}

.pi-wrapper-container {
    margin-bottom: 40px;
}

.pi-visible {
    display: block;
}

.pi-hidden {
    display: none;
}

.pi-placeholder {
    color: #3C4466;
    font-family: "Geometria", sans-serif;
    padding: 20px 0;
    font-size: 18px;
    text-align: center;
    margin-top: 10%;
    min-height: 200px;
    font-weight: 700;
}

@media (max-width: 1200px) {
    .container {
        width: 95%;
        padding: 30px 4%;
    }

    .title {
        font-size: 48px;
    }
}

@media (max-width: 992px) {
    .title {
        font-size: 38px;
    }

    .switchBtn {
        padding: 12px 26px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 20px;
    }

    .wrapper {
        padding: 20px 0;
    }

    .title {
        font-size: 32px;
    }
}
